p {
    display: none;
	position: absolute;
}

div {
    text-align: center;
}

img {
    filter: blur(4px);
    width: 50%;
}

img {
    transition: filter 0.5s;
}

img:hover {
    filter: blur(0);
}

