body {
    font-family: Segoe Print;
    background: linear-gradient(318deg, #6d0000 0%, #c07e7e 25%, #ffffff 100%);
    background-attachment: fixed;
    font-size: 1.2rem;
    padding: 0 5%;
}

nav a {
    text-decoration: none;
    background: #ffffff;
    color: #6d0000;
    border: solid;
    line-height: 5em;
    padding: 10px 10px; 
    font-size: 20px; 
    border-radius: 5px;
}

nav a:hover{
    background: #a6a4a4;
    animation: nav-shake 1s;
}

a {
    transition: border-radius 1s,
                border 1s,
                background-color 0.5s,
                opacity 1s;
}

code {
    font-family: Segoe Print;
    color: #6d0000;
}

figure img { 
    box-shadow: 12px 12px 0px -1px #a6a4a4;
	border-radius: 5px;
}

span {
    padding: 1em;
}

@keyframes nav-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}